.btnzak {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.container {
    background-color: #F7F7F7;
    padding-bottom: 25px;
    padding-top: 25px;
    border-radius: 20px;
}
.container > h2 {
    margin-left: 10px;
    color: rgb(0, 0, 0);
}
.obl {
    padding-bottom: 50px;
}
.hide {
    display: none !important;
}

th {
    line-height: 2;
}
.btN {
    margin-right: 10px;
}
.doing {
    display: flex;
    justify-content: center;
}
